<!DOCTYPE html>
<html lang="de">
<head>
 <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
   <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <% } %>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Start from here..</title>
</head>
<body>
  <h1>Hello World!</h1>
  <h2>Users Api Example for fetching data from an api</h2>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users">

    </tbody>
    <sript src="bundle.js"></sript>
  </table>
</body>
</html>
